<h1><%= @place.name %></h1>
<h2>Posts</h2>

<ul>
    <% for post in @place.posts %>
    <li><%= post.title %></li>
    <% end %>
</ul>
<p>
<a href="/posts/new/new?place_id <%= @place.id %>">Create new post </a>
</p>
<p>
    <a href="/places">Go back to all places</a>
</p> 